*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*styling for navbar id*/
#navbar{
    background:#3780d6;
    color:#f0f0f0;
    overflow:auto;
}
/*styling for anchors in navbar id*/
#navbar a{
    color:#f0f0f0;
    text-decoration: none;
}
/*navbar id heading styling*/
#navbar img{
    float:left;
    height: 4em;
}
/*styling for unordered lists in navbar id*/
#navbar ul {
    float:right;
    list-style: none;
    padding-right: 20px;
}
/*styling for list items in unordered lists in navbar id*/
#navbar ul li{
    float:left;
}
/*styling for anchor links in list items in unordered lists in navbar id*/
#navbar ul li a{
    display:block;
    padding:1.25em;
    text-align:center;
}
/*styling for anchor links in hover in list items in unordered lists in navbar id and the current class*/
#navbar ul li a:hover, .current{
    background:#80a7d6;
}
#main-char{
    display: block;
    margin: 5vh auto 5vh auto;
}
#main-char-intro{
    display: block;
    margin: 5vh 25% 5vh 25%;
    text-align: left;
}
#main-char-intro h2{
    text-align:center;
    margin: 5vh 25% 5vh 25%;
}
#play-btn{
    display: block;
    margin: 5vh auto 5vh auto;
    background: #3780d6;
    color:#f0f0f0;
    border-radius: 10px;
    width: 10vw;
    height: 4vh;
}
#play-btn:hover{
    background: #80a7d6;
    width: 9.75vw;
    height: 3.75vh;
}
body{
    background: #f3fafc;
    color: #000000;
}
