*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-size: 1.5vh;
    background: #f3fafc;
    color: #000000;
    font-family: 'Lexend Deca', sans-serif;
}
h1, h2, h3 {
    font-family: 'Lexend Zetta', sans-serif;
}
/*styling for navbar id*/
#navbar{
    background:#3780d6;
    color:#f0f0f0;
    overflow:hidden;
    position: relative;
    max-height: 3.5em;
}
/*styling for anchors in navbar id*/
#navbar a{
    color:#f0f0f0;
    text-decoration: none;
}
/*navbar id heading styling*/
#navbar img{
    float:left;
    height: 3.5em;
}
/*styling for unordered lists in navbar id*/
#navbar ul {
    float:right;
    list-style: none;
    padding-right: 20px;
}
/*styling for list items in unordered lists in navbar id*/
#navbar ul li{
    float:left;
}
/*styling for anchor links in list items in unordered lists in navbar id*/
#navbar ul li a{
    display:block;
    padding:1.25em;
    text-align:center;
}
/*styling for anchor links in hover in list items in unordered lists in navbar id and the current class*/
#navbar ul li a:hover, .current{
    background:#80a7d6;
}
#main-char{
    display: block;
    margin: 5vh auto 5vh auto;
    max-width: 100%;
}
#main-char-intro{
    display: block;
    margin: 5vh 25% 5vh 25%;
    text-align: left;
}
#main-char-intro h2{
    text-align:center;
    margin: 5vh 25% 5vh 25%;
}
#play-btn{
    display: block;
    margin: 5vh auto 5vh auto;
    background: #3780d6;
    color:#f0f0f0;
    border-radius: 10px;
    width: 10vw;
    height: 4vh;
    text-decoration: none;
    text-align: center;
    padding: 1vh 2.5vw 1vh 2.5vw;
}
#play-btn:hover{
    background: #80a7d6;
    width: 9.75vw;
    height: 3.75vh;
}
body{
    background: #f3fafc;
    color: #000000;
}
#main-content{
    min-height: 100vh;
}
footer{
    background: #3780d6;
    text-align: center;
    padding: 1vh;
    color: #f3fafc;
}
#copyright{
 text-decoration: underline;
}
#copyright:hover{
    color: #80a7d6;
}
#authors{
    display: none;
    border-style: double;
    border-color: #80a7d6;
    border-radius: 20px;
    color: black;
    text-align: center;
    width: 20vw;
    margin: 0 40% 0 40%;
}
@media screen and (min-width: 501px) and (max-width: 1024px) {
    #play-btn{
        width: 15vw;
        height: 6vh;
        padding: 1.5vh 3.75vw 1.5vh 3.75vw;
    }
    #play-btn:hover{
        width: 14.5vw;
        height: 5.5vh;
    }
}