*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-size: 1.5vh;
    background: #f3fafc;
    color: #000000;
    font-family: 'Lexend Deca', sans-serif;
}
h1, h2, h3 {
    font-family: 'Lexend Zetta', sans-serif;
}
/*styling for navbar id*/
#navbar{
    background:#478033;
    color:#f0f0f0;
    overflow:auto;
    position: sticky;
    max-height: 3.5em;
}
/*styling for anchors in navbar id*/
#navbar a{
    color:#f0f0f0;
    text-decoration: none;
}
/*navbar id heading styling*/
#navbar img{
    float:left;
    height: 3.5em;
}
/*styling for unordered lists in navbar id*/
#navbar ul {
    float:right;
    list-style: none;
    padding-right: 20px;
}
/*styling for list items in unordered lists in navbar id*/
#navbar ul li{
    float:left;
}
/*styling for anchor links in list items in unordered lists in navbar id*/
#navbar ul li a{
    display:block;
    padding:1.25em;
    text-align:center;
}
/*styling for anchor links in hover in list items in unordered lists in navbar id and the current class*/
#navbar ul li a:hover, .current{
    background:#52a036;
}
h1{
    font-size:8em;
    text-align: center;
    padding: 2.5vh 10% 2.5vh 10%;
}
.container{
    margin: 5vh 10% 5vh 10%;

}
.password-tips {
    text-align: left;
}
.alt-color{
    background: #52a036;
    color: #f0f0f0;
}
.password-tips p, .password-tips h2{
    padding: 2.5vh 10% 2.5vh 10%;
}
#hamburger-menu{
    display: none;
}
/* Show arrows by default */
.toggle-text i {
    display: inline-block;
}

/* Hide arrows on larger screens (desktop view) */
@media screen and (min-width: 501px) {
    .toggle-text i {
        display: none;
    }
}

#main-content{
    min-height: 100vh;
}
footer{
    background: #478033;
    text-align: center;
    padding: 1vh;
    color: #f3fafc;
}
#copyright{
    text-decoration: underline;
}
#copyright:hover{
    color: #52a036;
}