body, p {
    font-family: 'Lexend Deca', sans-serif;
}

h1, h2, h3 {
    font-family: 'Lexend Zetta', sans-serif;
}

.image-container {
    position: relative;
    max-width: 200px; 
    max-height: 200px;
}

.key {
    max-width: 30px;
    height: auto;
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer; 
} 

@media (max-width: 1250px) {
    #clue {
        display: none;
    }
    .image-container {
     
        max-width: 200px; 
        max-height: 200px; 
    }
  }

  @media (min-width: 1250px) {
   #mobileClue{
        display: none;
   }
}