body {
    font-size: 1.5vh;
    background: #f3fafc;
    color: #000000;
    font-family: 'Lexend Deca', sans-serif;
}
h1, h2, h3 {
    font-family: 'Lexend Zetta', sans-serif;
}
.image-container {
    position: relative;
    max-width: 200px; 
    max-height: 200px;
}
.img-fluid{
    position: relative;
    max-width: 200px; 
    max-height: 200px;
}

.key {
    max-width: 30px;
    height: auto;
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: help; 
} 
/*styling for navbar id*/
#navbar{
    background:#36ABB2;
    color:#f0f0f0;
    overflow:hidden;
    position: relative;
    max-height: 3.5em;
}
/*styling for anchors in navbar id*/
#navbar a{
    color:#f0f0f0;
    text-decoration: none;
}
/*navbar id heading styling*/
#navbar img{
    float:left;
    height: 3.5em;
}
/*styling for unordered lists in navbar id*/
#navbar ul {
    float:right;
    list-style: none;
    padding-right: 20px;
}
/*styling for list items in unordered lists in navbar id*/
#navbar ul li{
    float:left;
}
/*styling for anchor links in list items in unordered lists in navbar id*/
#navbar ul li a{
    display:block;
    padding:1.25em;
    text-align:center;
}
/*styling for anchor links in hover in list items in unordered lists in navbar id and the current class*/
#navbar ul li a:hover, .current{
    background:#74D9DF;
}
#main-content{
    min-height: 100vh;
}
footer{
    background: #36ABB2;
    text-align: center;
    padding: 1vh;
    color: #f3fafc;
}
#copyright{
    text-decoration: underline;
}
#copyright:hover{
    color: #74D9DF;
}

.dropdown{
    background:#36ABB2;
    height: 3.5em;
}
#navENG {
    display: none;
}

/* Mobile view*/
@media (max-width: 1250px) {
    #clue {
        display: none;
    }
    .image-container {
     
        max-width: 200px; 
        max-height: 200px; 
    }
    #mob2,#mob3 {
        display: none;
    }
  }

  @media (min-width: 1250px) {
   #mobileClue{
        display: none;
   }
}
.popup {
    display: none;
    position: absolute;
    bottom: 100%; /* Position above the footer */
    left: 50%;
    transform: translateX(-50%);
    background-color: #36ABB2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.popup-content {
    font-size: 14px;
}

#footer {
    position: relative;
    cursor: pointer;
}