*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1{
    font-size:10vh;
    text-align: center;
    padding: 2.5vh 10% 2.5vh 10%;
}
#nav-buttons{
    display:block;
}


/* Style arrow icons */
.toggle-text {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-block {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

/* Show text blocks */
.text-block.show {
    max-height: 1000px;
}