*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1{
    font-size:10vh;
    text-align: center;
    padding: 2.5vh 10% 2.5vh 10%;
}
#navbar{
    overflow: hidden;
}
#nav-buttons{
    display:none;
}
#hamburger-menu{
    display: block;
    float:right;
    position: relative;
    right: 3vw;
    top: 3vh;
}


/* Style arrow icons */
.toggle-text {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-block {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

/* Show text blocks */
.text-block.show {
    max-height: 1000px;
}


#nav-buttons{
    display:block;
}